{% extends 'header.html' %}

{% block content %}
  <div class="container">
    <br>
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">Documentos Carregados:</div>
          <div class="card-block">
            <ul class="list-group">
              {% for obj in documents %}
                <li class="list-group-item">
                  <a href="{{ obj.document.url }}">{{ obj.document.name }}</a>
                  <small>(Uploaded at: {{ obj.uploaded_at }})</small>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
