{% extends 'header.html' %}

{% block title %}Registro{% endblock %}

{% block content %}
<script language="JavaScript" type="text/javascript" src="http://localhost:8000/assinar/static/cryptico-master/jsbn.js"></script>
<script language="JavaScript" type="text/javascript" src="http://localhost:8000/assinar/static/cryptico-master/random.js"></script>
<script language="JavaScript" type="text/javascript" src="http://localhost:8000/assinar/static/cryptico-master/hash.js"></script>
<script language="JavaScript" type="text/javascript" src="http://localhost:8000/assinar/static/cryptico-master/rsa.js"></script>
<script language="JavaScript" type="text/javascript" src="http://localhost:8000/assinar/static/cryptico-master/aes.js"></script>
<script language="JavaScript" type="text/javascript" src="http://localhost:8000/assinar/static/cryptico-master/api.js"></script>
<script language="JavaScript" type="text/javascript" src="http://localhost:8000/assinar/static/cryptico-master/jsencrypt.js"></script>
<br>
<br>
    <div class="container">
      <form method="POST">
          {% csrf_token %}

          <fieldset>
            {{ form.non_field_error}}

            {% for field in form %}
            <div class="pure-control-group">
              {{ field.label_tag }}
              {{ field }}
              {{ field.errors }}
            </div>
            {% endfor %}

            <button type="submit" class="btn btn-primary">Registrar</button>
          </fieldset>
      </form>
    </div> <!-- /container -->
{% endblock %}
