{% extends 'header.html' %}

{% block content %}

{% if user.is_authenticated %}
  <script>
    window.location = {% url 'home' %};
  </script>
{% endif %}

<main role="main" class="container">
<br><br><br>
<div class="row">
  <div class="col-md-12">
    <form method="POST">
        {% csrf_token %}

        <fieldset>
          {{ form.non_field_error}}

          {% for field in form %}
          <div class="pure-control-group">
            {{ field.label_tag }}
            {{ field }}
            {{ field.errors }}

          </div>
          {% endfor %}
          <button type="submit" class="btn btn-primary">Logar</button>
        </fieldset>
    </form>
  </div>
</div>

</main>

{% endblock %}
