{% extends 'base.html' %}

{% block header %}

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Assinatura Digital</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      {% if user.is_authenticated %}
      <form class="form-inline my-2 my-lg-0">
          <a href="/core/logout" class="btn btn-outline-danger">Sair</a>
      </form>
      {% else %}
      <form class="form-inline my-2 my-lg-0">
          <a href="/core/register" class="btn btn-outline-success">Registrar</a>
          <a href="/core/login" class="btn btn-outline-success">Entrar</a>
      </form>
      {% endif %}
    </div>
  </nav>

{% endblock %}
