{% extends 'header.html' %}

{% load static %}

{% block content %}

<script language="JavaScript" type="text/javascript" src="http://localhost:8000/assinar/static/cryptico-master/jsbn.js"></script>
<script language="JavaScript" type="text/javascript" src="http://localhost:8000/assinar/static/cryptico-master/random.js"></script>
<script language="JavaScript" type="text/javascript" src="http://localhost:8000/assinar/static/cryptico-master/hash.js"></script>
<script language="JavaScript" type="text/javascript" src="http://localhost:8000/assinar/static/cryptico-master/rsa.js"></script>
<script language="JavaScript" type="text/javascript" src="http://localhost:8000/assinar/static/cryptico-master/aes.js"></script>
<script language="JavaScript" type="text/javascript" src="http://localhost:8000/assinar/static/cryptico-master/api.js"></script>
<script language="JavaScript" type="text/javascript" src="http://localhost:8000/assinar/static/cryptico-master/jsencrypt.js"></script>
<script src="http://localhost:8000/assinar/static/js/spark-md5.js" type="text/javascript"></script>

  <div class="container">
    <br>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">Upload Com Formulário</div>
          <div class="card-block">
            <div class="container">
              <form enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                <div class="actions">
                <input type="file" id="file_original" name="document" class="input-file span5"hidden/>
                <input type="file" id="file" onchange="criarHash();" class="input-file span5"/>
                <input type="button" id="normal" style="display:none" value="Hash" class="btn primary"/>
                </div>
                <div id="log" style="display:none"></div>
                <br>
                <div style="display:none" id="div_chave">
                    <label for="arquivo_tmp">Chave Privada</label>
                    <br>
                    <input type="file" class="form-control" id="privateKey" name="privateKey" placeholder="Selecionar Chave" onchange='assinar()'>
                    <br>
                    <br>
                    <label>Hash do arquivo</label>
                    <textarea  name="hash" id="hash" cols="30" rows="10" style="width: 100%; height: 90px;"></textarea>
                    <br>
                    <br>
                </div>
                <div style="display:none" id="div_ass">
                    <label>Assinatura</label>
                    <textarea  name="assinatura" id="assinatura" cols="30" rows="10" style="width: 100%; height: 90px;"></textarea>
                    <br>
                    <br>
                    <label>Chave Pública</label>
                    <textarea  name="publicKey" id="publicKey" cols="30" rows="10" style="width: 100%; height: 90px;"></textarea>
                    <br>
                    <br>
                    <div class="card-footer text-lg-right">
                      <a href="" class="btn btn-danger">Voltar</a>
                      <button type="submit" class="btn btn-success">Carregar</button>
                    </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
        function criarHash() 
        {
	    	var docOriginal = document.getElementById('file_original');
            document.getElementById("normal").click();
            document.getElementById("div_chave").style.display = "block";
	    docOriginal.files = input.files;
        }
      
        function LerArquivo(file, done, fail) 
        {
            var reader = new FileReader;
            reader.onload = function (evt) 
            {
                done(evt.target.result);
            };
            reader.onerror = function (evt) 
            {
                fail();
            };
            reader.readAsText(file);
        }
      
        var txtPublic = document.getElementById("public");
        var txtHash = document.getElementById("hash");
       
        var blobSlice = File.prototype.slice || File.prototype.mozSlice || File.prototype.webkitSlice,
        log = document.getElementById('log'),
        input = document.getElementById('file'),
        running = false,
        ua = navigator.userAgent.toLowerCase();
	
	var docOriginal = document.getElementById('file_original');

        function registerLog(str, className) 
        {
            var elem = document.createElement('div');

            elem.innerHTML = str;
            elem.className = 'alert-message' + (className ? ' '  + className : '');
            log.appendChild(elem);
            txtHash.value = str;
        }

          
        function doNormalTest() 
        {
            if (running) 
            {
                return;
            }

            if (!input.files.length)
            {
                registerLog('Por favor, selecione um arquivo');
                return;
            }

            var fileReader = new FileReader(),
                file = input.files[0],
                time;

            fileReader.onload = function (e) 
            {
                running = false;

                if (file.size != e.target.result.byteLength) 
                {
                    registerLog('erro!');
                } 
                else 
                {
                    registerLog(SparkMD5.ArrayBuffer.hash(e.target.result)); 
                }
            };

            fileReader.onerror = function () 
            {
                running = false;
                registerLog('ERRO 1');
            };

            running = true;
            fileReader.readAsArrayBuffer(file);
        }

        if (!('FileReader' in window) || !('File' in window) || !blobSlice) 
        {
            registerLog('ERRO 2');
        } 
        else 
        {
            document.getElementById('normal').addEventListener('click', doNormalTest);
            //fileReader.readAsArrayBuffer(file);
        }

        function assinar() 
        {
            var documento = document.getElementById("privateKey");
            var txtAssi = document.getElementById("assinatura");
            var txtPublic = document.getElementById("publicKey");
            
            document.getElementById("div_ass").style.display = "block";
            
            LerArquivo(documento.files[0], function (conteudo) 
            {
                var crypt = new JSEncrypt();
                crypt.setKey(conteudo);
                var publicKey = crypt.getPublicKey();
                var assinatura = cryptico.encrypt(txtHash.value, conteudo);
                var assiTXT = assinatura.cipher;

                txtAssi.value = assiTXT; //
                txtPublic.value = publicKey; //Chave Pública
                //Hash é a variavel conteudo

              },function ()
               {
                  response.value = "Falha ao ler o arquivo";
                });
          }
  </script>

{% endblock %}
